HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
target/*
target/docker/image-id
target/docker/image-name
target/docker/repository
target/docker/tag
target/hellospringannotation-1.0-SNAPSHOT-docker-info.jar
target/hellospringannotation-1.0-SNAPSHOT.jar
target/hellospringannotation-1.0-SNAPSHOT.jar.original
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/test-classes/META-INF/docker/sadi/hellospringannotation/image-id
target/test-classes/META-INF/docker/sadi/hellospringannotation/image-name
target/test-classes/META-INF/docker/sadi/hellospringannotation/repository
target/test-classes/META-INF/docker/sadi/hellospringannotation/tag
target/classes/rmit/service/SubmissionService.class
target/classes/rmit/repositories/SubmissionRepository.class
target/classes/rmit/models/Submission.class
target/classes/rmit/models/Student.class
target/classes/rmit/models/Homework.class
target/classes/rmit/controllers/TeacherController.class
target/classes/rmit/controllers/SubmissionController.class
target/classes/rmit/controllers/HomeworkController.class
target/classes/rmit/controllers/EnrollmentController.class
target/classes/rmit/controllers/CourseController.class
target/classes/application.properties
target/classes/rmit/App.class
target/classes/rmit/controllers/AccountController.class
target/classes/rmit/controllers/EventController.class
target/classes/rmit/controllers/StudentController.class
target/classes/rmit/message/ResponseFile.class
target/classes/rmit/message/ResponseMessage.class
target/classes/rmit/models/Course.class
target/classes/rmit/models/Enrollment.class
target/classes/rmit/models/Event$timezone.class
target/classes/rmit/models/Event.class
target/classes/rmit/security/WebSecurityConfiguration.class
target/classes/rmit/service/AccountService.class
target/classes/rmit/service/CourseService.class
target/classes/db/createAccountPgAdminScript.sql
target/classes/rmit/controllers/HomeController.class
target/classes/rmit/exceptions/ErrorDetails.class
target/classes/rmit/exceptions/GlobalExceptionHandler.class
target/classes/rmit/exceptions/ResourceNotFoundException.class
target/classes/rmit/models/Account.class
target/classes/rmit/models/Role.class
target/classes/rmit/models/Teacher.class
target/classes/rmit/repositories/AccountRepository.class
target/classes/rmit/repositories/CourseRepository.class
target/classes/rmit/repositories/EnrollmentRepository.class
target/classes/rmit/repositories/EventRepository.class
target/classes/rmit/repositories/HomeworkRepository.class
target/classes/rmit/repositories/StudentRepository.class
target/classes/rmit/repositories/TeacherRepository.class
target/classes/rmit/security/CustomUserDetails.class
target/classes/rmit/security/CustomUserDetailsService.class
target/classes/rmit/service/StudentService.class
target/classes/rmit/service/TeacherService.class
target/classes/rmit/Swagger2Config.class
target/classes/rmit/config/S3Config.class
target/classes/rmit/controllers/S3Controller.class
target/classes/rmit/models/HomeworkType.class
target/classes/rmit/service/EnrollmentService.class
target/classes/rmit/service/FileServiceImpl.class
target/classes/rmit/service/HomeworkService.class
target/classes/rmit/service/S3Service.class
